@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
   --backgroundColorWhite: #ffffff;
   --backgroundColorWheat: #fffcec;
   --backgroundColorBlue: #3139fb;
   --backgroundColorBlueDark: #2702c2;
   --backgroundColorPink: #ff5060;
   --backgroundColorPinkDark: #d83744;
   --backgroundColorPinkLight: #ff9999;
   
   --textColorWhite: #f0f0f0;
   --textColorBlack: #131313;
   --textColorGray: #696969;
   --textColorWheat: #fffcec;
   --textColorBlue: #3139fb;
   --textColorBlueDark: #2702c2;
   --textColorPink: #ff5060;
   --textColorPinkLight: #ff9999;

   --bodyFontSize: 18px;
   --h1FontSize: 52px;
   --h2FontSize: 32px;
   --h3FontSize: 18px;
}

html {
	color: var(--textColorBlack);
	background-color: var(--backgroundColorWhite);
	font-family: 'Rubik', Arial, Helvetica, sans-serif;
	font-size: var(--bodyFontSize);
	font-weight: 400;
	line-height: 1.4;
}

body {
	margin: 0 auto;
}

.section {
	padding: 3rem 0;
	box-sizing: border-box;
}

.container {
	max-width: 1200px;
	padding: 0 20px;
	margin: 0 auto;
}





h1, h2, h3 {
	font-weight: 700;
	margin: 0;
}

h1, h2 {
	line-height: 1.1;
}

h1 {
	font-size: var(--h1FontSize);
}

h2 {
	font-size: var(--h2FontSize);
}

h3 {
	font-size: var(--h3FontSize);
	line-height: 1.4;
}

p {
	margin: 0;
}

.large-body {
	font-size: 2.2rem;
}

.italic {
	font-style: italic;
}

.text-semi-bold {
	font-weight: 500;
}

.text-thin {
	font-weight: 300;
}

.text-align-right {
	text-align: right;
}

a {
	text-decoration: underline;
	text-decoration-thickness: 1px;
	text-underline-offset: 0.28em;
}

a:hover {
	opacity: 75%;
}





header, .section.hero {
	color: var(--textColorWhite);
}

header {
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	right: 0;
	a {
		color: var(--textColorWhite);
	}
	background-color: var(--backgroundColorBlueDark);
}

.container-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
}

.header-links {
	margin: 0;
	padding: 0;
	display: flex;
	gap: 1rem;
	li {
		list-style: none;
	}
}


.section.hero {
	height: 100vh;
	background-color: var(--backgroundColorBlueDark);
}

.container-hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
	padding-top: 20vh;
	padding-bottom: 20vh;
	> * {
		width: 50%;
	}
}

.hero-info-wrap {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: flex-start;
}

.hero-img {
	height: 54vh;
	background-color: var(--backgroundColorWheat);
	border-radius: 40px;
}




.section.facts {
	background-color: var(--backgroundColorWheat);
	color: var(--textColorBlue);
}

.container-facts {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

.facts-wrap {
	display: flex;
	justify-content: center;
	gap: 2rem;
}

.fact {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 0 1 200px;
	gap: 1rem;
	p {
		flex: 0 1 auto;
		text-align: center;
	}
}

.fact-img {
	width: 100%;
	height: 200px;
	border: 2px var(--backgroundColorBlue) solid;
	border-radius: 28px;
}


.section-quote {
	background-color: var();
	height: 100vh;
	padding: 6rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container-quote {
	display: flex;
	flex-direction: column;
	flex: 0 1 auto;
}

.container-quote p {
	max-width: 40ch;
}



button {
	font-size: var(--bodyFontSize);
	color: var(--textColorBlueDark);
	font-weight: 500;
	padding: 12px 32px;
	border: 3px var(--backgroundColorBlueDark) solid;
	background-color: var(--backgroundColorWhite);
	border-radius: 12px;
	cursor: pointer;
	transition: 0.2s;
}

button:hover {
	color: var(--textColorWhite);
	background-color: var(--backgroundColorBlueDark);
}

.btn-accent {
	border-style: none;
	background-color: var(--backgroundColorPink);
	color: var(--textColorWhite);
}

.btn-accent:hover {
	background-color: var(--backgroundColorPinkDark);
}